*.lnk
BoxSetting/BoxSetting/bin/x64/Debug/BoxSetting.vshost.exe
BoxSetting/BoxSetting/bin/x64/Debug/BoxSetting.exe.config
BoxSetting/BoxSetting/bin/x64/Debug/BoxSetting.vshost.exe.config
BoxSetting/BoxSetting/bin/x64/Debug/BoxSetting.vshost.exe.manifest
BoxSetting/BoxSetting/obj/x64/Debug/BoxSetting.csproj.FileListAbsolute.txt
BoxSetting/BoxSetting/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LipsLocate/LipsLocate/bin/x64/Debug/LipsLocate.exe.config
LipsLocate/LipsLocate/bin/x64/Debug/LipsLocate.vshost.exe
LipsLocate/LipsLocate/bin/x64/Debug/LipsLocate.vshost.exe.config
LipsLocate/LipsLocate/bin/x64/Debug/LipsLocate.vshost.exe.manifest
LipsLocate/LipsLocate/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LipsLocate/LipsLocate/obj/x64/Debug/LipsLocate.csproj.FileListAbsolute.txt
LipsLocate/LipsLocate/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LipsLocate/LipsLocate/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LipsLocate/LipsLocate/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BoxSetting/BoxSetting/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BoxSetting/BoxSetting/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BoxSetting/BoxSetting/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs